<div class="container">


      <div class="left">

        <h1> Bienvenue </br>chez Buzz </h1>
        <h3 class ="titre2"> Faites un tour dans l'espace comme si vous y étiez </h3>

        <ul class ="ul1">
          <li> Allez facilement sur la lune</li>
          <li> Dites bonjour à vos astronautes préférés</li>
          <li> Il suffit juste de vous connecter</li>

 
        </ul>



      </div>



      <div class="right">

        <div class="logg">
        <h2>Sign up</h2>
        </div>

            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>

         <div class="field mail">

            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "emaild2" %>
         </div>
       </br>

          <div class="field password">
              
              <% if @minimum_password_length %>
              <em class="labela">(<%= @minimum_password_length %> characters minimum for your password)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "off", class: "emaild2" %>
          </div>

</br>

           <div class="field password">
             
              <%= f.password_field :password_confirmation, autocomplete: "off", class: "emaild2 pw2" %>
           </div>

</br>

           <div class="actions">
              <%= f.submit "Sign up", class: "buta btnsignup" %>
           </div>


    <% end %>

      <div class="logginn"> 
       <%= link_to "Log in", new_session_path(resource_name), class: "logintext" %><br />
        </div>

      </div>

</div>